<!-- <h1>{{headline}}</h1> -->
<a href='#/'> <- Back </a>
<div class='container' id='game-container'>
  <div class='row question-box'>
    <div class='col-xs-12' style="background-color: {{colors[question]}}"></div>
  </div>
  <div class='row answer-cnt'>
    <div class='col-xs-4 answer' style='background-color: {{colors[0]}}'></div>
    <div class='col-xs-4 answer' style='background-color: {{colors[1]}}'></div>
    <div class='col-xs-4 answer' style='background-color: {{colors[2]}}'></div>
  </div>
</div>
